<template>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <SidebarView />
    <div class="body-wrapper">
        <HeaderView />
        <div class="container-fluid">
        
          <router-view />
        

      </div>
    </div>
    </div>
</template>

<script>
import SidebarView from '@/components/SidebarView.vue'
import HeaderView from '@/components/HeaderView.vue'

export default {
    name: 'DashboardPage',
  components: {
    SidebarView,
    HeaderView
    
  },

  
}
</script>

<style>

</style>