<template>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <h2>MedCloud</h2>
                </a>
                <p class="text-center">online medical service</p>
                
                <!-- Feedback Message -->
                <div v-if="feedbackMessage" class="mt-3">
                  <div :class="['alert', `alert-${feedbackType}`, 'alert-dismissible', 'fade', 'show']" role="alert">
                    {{ feedbackMessage }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>

                <form @submit.prevent="signIn">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      email: '',
      password: '',
      feedbackMessage: '', // For displaying feedback to user
      feedbackType: ''    // Type of feedback (success, danger)
    };
  },
  methods: {
    ...mapActions('auth', ['login']),
    async signIn() {
      try {
        await this.login({ email: this.email, password: this.password });
        this.feedbackMessage = "Login successful!";
        this.feedbackType = "success";
        this.$router.push('/dashboard'); // navigate to dashboard after successful login
      } catch (error) {
        console.error("Error during login:", error);
        this.feedbackMessage = "Username or Password incorrect";
        this.feedbackType = "danger";
      }
    }
  }
}
</script>

<style>

</style>
