<template>
  <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Consultation</h5>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card mb-3">
                    <div class="card-header">
                      Patient info
                    </div>
                    <div class="card-body">
                      
                      <p class="card-text">Patient Name: {{ patientDetails ? patientDetails.name : 'Loading...' }}</p>
                      <p class="card-text">Email: {{ patientDetails ? patientDetails.email : 'Loading...' }}</p>
                      <p class="card-text">Mobile: {{ patientDetails ? patientDetails.mobile : 'Loading...' }}</p>
                      
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-3">
                    <div class="card-header">
                      Doctor info
                    </div>
                    <div class="card-body">
                      
                      <p class="card-text">Doctor Name: {{ doctorDetails ? doctorDetails.name : 'Loading...' }}</p>
                      <p class="card-text">Email: {{ doctorDetails ? doctorDetails.email : 'Loading...' }}</p>
                      <p class="card-text">Mobile: {{ doctorDetails ? doctorDetails.mobile : 'Loading...' }}</p>
                      
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                    
                    <div class="card-body">
                      
                        <form @submit.prevent="submitPrescription">
                            <div class="form-floating mb-3">
                                <textarea v-model="prescriptionText" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Prescription</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        <div v-if="successMessage" class="alert alert-success">
                        {{ successMessage }}
                        </div>
                        <div v-if="errorMessage" class="alert alert-danger">
                        {{ errorMessage }}
                        </div>
                                            
                      
                    </div>
                  </div>
                </div>
            </div>
            
            

                 

          </div>
        </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
        patientId: null,
      patientDetails: {},
      doctorDetails: {},
      prescriptionText: "",
    successMessage: "",
    errorMessage: "" 
      
    };
  },
  async mounted() {
    this.fetchData();
  },
  watch: {
    '$route.params.patientId': {
      immediate: true,
      handler: 'fetchData'
    }
  },
  methods: {
    async fetchData() {
      this.patientId = this.$route.params.patientId;
      await this.getPatientDetails();
      await this.getDoctorDetails();
    },
    async getPatientDetails() {
      try {
        console.log('Patient ID:', this.patientId);
        const response = await axios.get(`http://localhost:3000/api/users/patient-details/${this.patientId}`);
        this.patientDetails = response.data;
      } catch (error) {
        console.error("Error fetching patient details:", error);
      }
    },
    async getDoctorDetails() {
  try {
    const user = JSON.parse(localStorage.getItem("user"));
    const doctorId = user.id;
    const response = await axios.get(`http://localhost:3000/api/users/doctor-details/${doctorId}`);
    this.doctorDetails = response.data;
  } catch (error) {
    console.error("Error fetching doctor details:", error);
  }
},
async submitPrescription() {
  try {
    const user = JSON.parse(localStorage.getItem("user"));
    const doctorId = user.id;
    

    const response = await axios.post('http://localhost:3000/api/users/prescriptions', {
      patient_id: this.patientId,
      doctor_id: doctorId,
      Prescription: this.prescriptionText
    });

    if(response.data.message === 'Prescription added successfully!') {
      // Handle success
      this.prescriptionText = "";
      this.successMessage = "Prescription added successfully!";
      this.errorMessage = ""; // Clear any previous error message
    }

  } catch (error) {
    console.error("Error submitting prescription:", error);
    this.errorMessage = "Failed to add prescription. Please try again.";
    this.successMessage = ""; // Clear any previous success message
  }
}

  }
}
</script>

<style>

</style>