<template>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Add Lab Report</h5>
  
        <!-- Form for lab details -->
        <form @submit.prevent="addLabDetails">
          <div class="mb-3">
            <label for="fileLink" class="form-label">File Link</label>
            <input type="text" class="form-control" id="fileLink" v-model="fileLink" placeholder="Enter or paste the file link here">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" v-model="description"></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
        <!-- Messages below the form -->
        <p v-if="successMessage" class="alert alert-success mt-2">{{ successMessage }}</p>
        <p v-if="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</p>
  
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        description: '',
        fileLink: '',  // Store the manually entered file link
        patientId: null,
        successMessage: null,  // To show success message
        errorMessage: null     // To show error message
      };
    },
    mounted() {
      // Assuming the patient's ID is passed as a route parameter
      this.patientId = this.$route.params.patientId;
    },
    methods: {
      async addLabDetails() {
        try {
          if (!this.fileLink) {
            this.errorMessage = "Please enter a file link.";
            return;
          }
  
          const data = {
            file_path: this.fileLink,
            description: this.description,
            patient_id: this.patientId
          };
  
          const response = await axios.post('http://localhost:3000/api/users/add-lab-details', data);
          
          // Reset error and set success message
          this.errorMessage = null;
          this.successMessage = response.data.message;
        } catch (error) {
          console.error("There was an error:", error);
  
          // Reset success and set error message
          this.successMessage = null;
          this.errorMessage = error.response.data.message;
        }
      }
    }
  }
  </script>
  
  <style>
  /* Any necessary styles */
  </style>
  