<template>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Add New User</h5>
        <div class="card">
          <div class="card-body">
            <div v-if="message" :class="`alert alert-${alertType}`">{{ message }}</div>
            <form @submit.prevent="validateForm">
              <!-- Name -->
              <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName" v-model="name" required>
              </div>
  
              <!-- Email -->
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" v-model="email" required>
              </div>
  
              <!-- Password -->
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" required>
              </div>
  
              <!-- Role -->
              <div class="mb-3">
                <label for="exampleInputPRole" class="form-label">Role</label>
                <select class="form-select" v-model="role" required>
                  <option value="" disabled>Choose role</option>
                  <option value="doctor">doctor</option>
                  <option value="patient">patient</option>
                  <option value="lab_technician">lab_technician</option>
                  <option value="pharmacist">pharmacist</option>
                </select>
              </div>
  
              <!-- Mobile -->
              <div class="mb-3">
                <label for="exampleInputMobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="exampleInputMobile" v-model="mobile" pattern="^[0-9]{1,11}$" required>
              </div>
  
              <!-- Address -->
              <div class="mb-3">
                <label for="exampleInputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="exampleInputAddress" v-model="address" required>
              </div>
  
              <button type="submit" class="btn btn-primary">Add User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  export default {
    data() {
      return {
        name: '',
        email: '',
        password: '',
        role: '',
        mobile: '',
        address: '',
        message: '', 
        alertType: ''
      }
    },
    methods: {
  async validateForm() {
    if (
      this.name &&
      this.email &&
      this.password &&
      this.role &&
      this.mobile.match(/^[0-9]{1,11}$/) &&
      this.address
    ) {
      // Send the data to the server
      try {
        const response = await axios.post('http://localhost:3000/api/users/register', {
          name: this.name,
          email: this.email,
          password: this.password,
          role: this.role,
          mobile: this.mobile,
          address: this.address
        });

        if (response.status === 201) {
          this.message = 'User registered successfully!';
          this.alertType = 'success';

          // Clear the input fields
          this.clearFields();
        }
      } catch (error) {
        this.message = error.response?.data?.message || 'An error occurred';
        this.alertType = 'warning';
      }
    } else {
      this.message = 'Please fill in the form correctly';
      this.alertType = 'warning';
    }
  },
  clearFields() {
    this.name = '';
    this.email = '';
    this.password = '';
    this.role = ''; // or set to the default value
    this.mobile = '';
    this.address = '';
  }
}

  }
  </script>
  
  <style>
  /* Your styles */
  </style>
  