<template>
  <div class="card" v-if="report">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Full Report</h5>
            <div class="card mb-3">
                    <div class="card-header">
                      Profile info
                    </div>
                    <div class="card-body">
                      
                      <p class="card-text">Name: {{ report.patientDetails.name }}</p>
                      <p class="card-text">Email: {{ report.patientDetails.email }}</p>
                      <p class="card-text">Mobile: {{ report.patientDetails.mobile }}</p>
                      
                    </div>
                  </div>

                  <div class="card mb-3">
                    <div class="card-header">
                        prescription
                    </div>
                    <div class="card-body">
                      
                        <p v-for="prescription in report.prescriptions" :key="prescription.id" class="card-text">
      Doctor Name: {{ prescription.doctor_id }} <br> <!-- assuming you'd replace this with the actual doctor name -->
      Prescription: {{ prescription.Prescription }} <br>
      Date: {{ new Date(prescription.date_prescribed).toLocaleDateString() }}
    </p>
                      
                    </div>
                  </div>

                  <div class="card mb-3">
                    <div class="card-header">
                        Lab Reports
                    </div>
                    <div class="card-body">
                      
                        <p v-for="report in report.labReports" :key="report.id" class="card-text">
      File: {{ report.file_path }} <br>
      Description: {{ report.description }} <br>
      Date: {{ new Date(report.date_uploaded).toLocaleDateString() }}
    </p>
                      
                    </div>
                  </div>

                  <div class="card mb-3">
                    <div class="card-header">
                        Pharmacy Reports
                    </div>
                    <div class="card-body">
                      
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">NO</th>
                            <th scope="col">Medicine</th>
                            <th scope="col">quantity</th>
                            <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(pharmacyReport, index) in report.pharmacyReports" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ pharmacyReport.medicine_name }}</td>
                            <td>{{ pharmacyReport.quantity }}</td>
                            <td>{{ new Date(pharmacyReport.date_given).toLocaleDateString() }}</td>
                            </tr>
                           
                        </tbody>
                        </table>
                      
                    </div>
                  </div>
                  
                  
          </div>
        </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      report: null
    };
  },
  async mounted() {
    try {
      const patientId = this.$route.params.patientId;
      const response = await axios.get(`http://localhost:3000/api/users/patient-report/${patientId}`);
      this.report = response.data;
    } catch (error) {
      console.error("There was an error fetching patient report:", error);
    }
  }
}
</script>

<style>

</style>