<template>
  <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Patient List</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Address</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Mobile</h6>
                        </th>
                        <th class="border-bottom-0" v-if="userRole === 'doctor'">
                          <h6 class="fw-semibold mb-0">Action</h6>
                        </th>
                        <th class="border-bottom-0" v-if="userRole === 'doctor'">
                          <h6 class="fw-semibold mb-0">Reports</h6>
                        </th>
                        <th class="border-bottom-0" v-if="userRole === 'pharmacist'">
                          <h6 class="fw-semibold mb-0">Pharm-Report</h6>
                        </th>

                        <th class="border-bottom-0" v-if="userRole === 'lab_technician'">
                          <h6 class="fw-semibold mb-0">Lab</h6>
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(patient, index) in patients" :key="index">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ index + 1 }}</h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{ patient.name }}</h6>
                            <span class="fw-normal">{{ patient.email }}</span>                          
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{ patient.address }}</p>
                        </td>
                        
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4">{{ patient.mobile }}</h6>
                        </td>
                        <td class="border-bottom-0" v-if="userRole === 'doctor'">
                          <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-primary" @click="consultPatient(patient.id)">Consult</button>
                          </div>
                        </td>
                        <td class="border-bottom-0" v-if="userRole === 'doctor'">
                          <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-warning" @click="viewPatientReport(patient.id)">View</button>
                          </div>
                        </td>

                        <td class="border-bottom-0" v-if="userRole === 'pharmacist'">
                          <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-primary" @click="redirectToPharmacy(patient.id)">Add</button>
                          </div>
                        </td>

                        <td class="border-bottom-0" v-if="userRole === 'lab_technician'">
                          <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-primary" @click="redirectToLab(patient.id)">Add</button>
                          </div>
                        </td>
                      </tr> 
                                         
                    </tbody>
                  </table>
                </div>
              </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      patients: [],
      userRole: null
    };
  },

  async mounted() {
  try {
    const response = await axios.get('http://localhost:3000/api/users/patients');
    this.patients = response.data;

    const user = JSON.parse(localStorage.getItem("user"));
    this.userRole = user.role; // Assuming "role" is a property of the user object

  } catch (error) {
    console.error("There was an error:", error);
  }
},

  methods: {
  viewPatientReport(patientId) {
    this.$router.push({ path: `/dashboard/patient-report/${patientId}` });
  },
  consultPatient(patientId) {
    this.$router.push({ path: `/dashboard/consult/${patientId}` });
  },
  redirectToPharmacy(patientId) {
  this.$router.push({ path: `/dashboard/pharmview/${patientId}` });
},redirectToLab(patientId) {
  this.$router.push({ path: `/dashboard/labview/${patientId}` });
}
}
}
</script>

<style>

</style>