<template>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Add Pharmacy Report</h5>
  
        <!-- Form for medicine details -->
        <form @submit.prevent="addPharmacyReport">
          <div v-for="(medicine, index) in medicines" :key="index">
            <div class="row mb-3">
              <div class="col-md-6">
                <input type="text" v-model="medicine.name" class="form-control" placeholder="Medicine Name">
              </div>
              <div class="col-md-5">
                <input type="number" v-model="medicine.quantity" class="form-control" placeholder="Quantity">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-danger" @click="removeMedicine(index)">X</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-secondary mb-3" @click="addMedicine">Add Another Medicine</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
  
          
          
        </form>
  
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        medicines: [
          { name: '', quantity: '' }
        ],
        patientId: null
      };
    },
    mounted() {
      // Assuming the patient's ID is passed as a route parameter
      this.patientId = this.$route.params.patientId;
    },
    methods: {
      addMedicine() {
        this.medicines.push({ name: '', quantity: '' });
      },
      removeMedicine(index) {
        if (this.medicines.length > 1) {
          this.medicines.splice(index, 1);
        }
      },
      async addPharmacyReport() {
        try {
          const medicineNames = this.medicines.map(med => med.name);
          const quantities = this.medicines.map(med => med.quantity);
          const response = await axios.post('http://localhost:3000/api/users/add-pharmacy-report', {
            patient_id: this.patientId,
            medicine_name: medicineNames,
            quantity: quantities
          });
          alert(response.data.message);
        } catch (error) {
          console.error("There was an error:", error);
          alert(error.response.data.message);
        }
      }
    }
  }
  </script>
  
  <style>
  /* Any necessary styles */
  </style>
  