<template>
   <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <h3>MedCloud</h3>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <router-link class="sidebar-link" to="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </router-link>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">More</span>
            </li>
            <li class="sidebar-item patient-list-section" v-if="canViewPatients">
              <router-link class="sidebar-link" to="/dashboard/patients" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Patients List</span>
              </router-link>
            </li>
            <li class="sidebar-item" v-if="canViewAdduser">
              <router-link class="sidebar-link" to="/dashboard/new-user" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Add User</span>
              </router-link>
            </li>
            
            
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Typography</span>
              </a>
            </li>
          
           
          </ul>
         
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState('auth', ['user']),
    canViewPatients() {
      return this.user && (this.user.role === 'admin' || this.user.role === 'doctor' || this.user.role === 'pharmacist' || this.user.role === 'lab_technician');
    },

    canViewAdduser() {
      return this.user && (this.user.role === 'admin');
    }
  }
}
</script>

<style>

</style>